<%- include('../layouts/header', {title: 'Nova Tarefa'}) %>

<%- include('../layouts/menu') %>

<section class="section">
  <div class="container">
    <h1 class="title size-4">New Task</h1>
    <form method="post" action="/checklists/<%= checkListId %>/tasks">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" name="task[name]" placeholder="Tarefa" value="<%= task.name %>">
          <% if(task.errors && task.errors.hasOwnProperty('name')) { %>
          <p class="is-danger help"><%= tasks.errors.name.message %></p>
          <% } %>
        </div>
      </div>

      <button type="submit" class="button is-success">Save</button>
      <a href="/checklists/<%= checkListId %>" class="button">Cancel</a>
    </form>
  </div>
</section>

<%- include('../layouts/footer') %>